<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <h4 class="m-0 text-dark">ダッシュボード</h4>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <section>
        <%= render partial: 'summary' %>
      </section>

      <section>
        <%= render partial: 'charts' %>
      </section>

      <br>
    </div>
  </section>
</div>

<div id="modal_area">
</div>