<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item d-flex align-items-center me-4">
      <i class="nav-icon fas fas fa-solid fa-user me-1"></i>
      <%= current_user.name %>
    </li>
    <li class="nav-item">
      <%= link_to logout_sessions_path, mathod: :get, class: 'btn btn-outline-danger' do %>
        ログアウト&nbsp;<i class="nav-icon fas fas fa-sign-out-alt fa-lg"></i>
      <% end %>
    </li>
  </ul>
</nav>